<section class="l-body" *ngIf="member$ | async as member">
  <header class="page-header">
    <h1 class="mat-headline-4">
      {{ member.email }}
    </h1>
    <a mat-flat-button [routerLink]="['..']">
      <mat-icon>keyboard_arrow_left</mat-icon>
      <span i18n>Back to Members</span>
    </a>
  </header>
  <mat-card>
    <mat-card-header>
      <mat-card-title il8n>Basics</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="basics-content">
      <div class="column">
        <div class="mat-body-strong" i18n>Email</div>
        <div>{{ member.email }}</div>
      </div>
      <div class="column">
        <div class="mat-body-strong" i18n>Role</div>
        <div>{{ member.roleName }}</div>
      </div>
      <div class="column">
        <div class="mat-body-strong" i18n>Added</div>
        <div>{{ member.dateCreated | date }}</div>
      </div>
      <div class="column" *ngIf="member.isOwner">
        <mat-chip color="primary" highlighted="true" i18n
          >Account Owner</mat-chip
        >
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title i18n>Role</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-error *ngIf="updateMemberError$ | async as error">{{
          error
        }}</mat-error>
        <div class="role-form-elements">
          <mat-radio-group formControlName="role">
            <mat-radio-button value="member">Member</mat-radio-button>
            <mat-radio-button value="admin">Admin</mat-radio-button>
            <mat-radio-button value="manager">Manager</mat-radio-button>
            <mat-radio-button value="owner">Owner</mat-radio-button>
          </mat-radio-group>
          <div class="role-button-container">
            <gt-loading-button
              [disabled]="member.role === formRole.value"
              [loading]="(updateMemberLoading$ | async) === true"
              buttonText="Update Member"
            ></gt-loading-button>
          </div>
        </div>
      </form>
      <div class="role-description">
        <span *ngIf="formRole.value === 'member'" i18n
          >Members can view and act on events, as well as view most other data
          within the organization.</span
        >
        <span *ngIf="formRole.value === 'admin'" i18n
          >Admin privileges on any teams of which user is a member. They can
          create new teams and projects, as well as delete teams and projects
          they are already members of. Additionally, they can manage memberships
          of teams that they are members of.</span
        >
        <span *ngIf="formRole.value === 'manager'" i18n
          >Gains admin access on all teams as well as the ability to add and
          remove members.</span
        >
        <span *ngIf="formRole.value === 'owner'" i18n
          >Unrestricted access to the organization, its data, and its settings.
          Can add, modify, and delete projects and members.</span
        >
      </div>
      <div class="role-scopes">
        <ng-container *ngIf="selectedRoleScopes$ | async as scopes">
          <div class="mat-body-strong" i18n>Scopes:</div>
          <div>{{ scopes }}</div>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title i18n>Organization Account Ownership</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <ng-container *ngIf="!member.isOwner; else isOwner">
        <mat-error *ngIf="transferOrgOwnershipError$ | async as error">{{
          error
        }}</mat-error>
        <p i18n>
          The account owner has access to the organization's GlitchTip
          subscription settings. If you are the current account owner or have an
          owner role, you may transfer ownership to this member.
        </p>
        <gt-loading-button
          buttonText="Transfer Ownership"
          [loading]="(transferOrgOwnershipLoading$ | async) === true"
          (click)="transferOrgOwnership()"
        >
          Change Password
        </gt-loading-button>
      </ng-container>
      <ng-template #isOwner>
        <p i18n>
          This member is the organization account owner and has access to the
          organization's GlitchTip subscription settings.
        </p>
      </ng-template>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="memberTeams$ | async as memberTeams">
    <mat-card-header>
      <mat-card-title i18n>Team(s)</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <ng-container *ngIf="memberTeams.length === 0; else listMembers">
        <p class="center-text" i18n>This user isn't on any teams.</p>
      </ng-container>
      <ng-template #listMembers>
        <mat-list>
          <mat-list-item *ngFor="let team of memberTeams">
            <a
              mat-line
              [routerLink]="['teams', team, 'members']"
              [relativeTo]="this.route.parent?.parent"
              >{{ team }}</a
            >
          </mat-list-item>
        </mat-list></ng-template
      >
    </mat-card-content>
  </mat-card>
</section>
