<form
  [formGroup]="commentForm"
  #formDirective="ngForm"
  (ngSubmit)="submitComment(formDirective)"
>
  <mat-form-field appearance="outline">
    <mat-label>{{ comment ? "Update Comment" : "Comment" }}</mat-label>
    <textarea
      matInput
      formControlName="text"
      [errorStateMatcher]="matcher"
      required
    ></textarea>
    <mat-hint>Markdown supported</mat-hint>
    <mat-error *ngIf="commentFormText?.errors?.required">
      Enter comment text.
    </mat-error>
  </mat-form-field>
  <div class="buttons">
    <gt-loading-button
      class="submit-button"
      [disabled]="disableSubmissions()"
      [loading]="loading"
      [buttonText]="comment ? 'Update Comment' : 'Submit Comment'"
    >
    </gt-loading-button>
    <button
      *ngIf="comment"
      class="cancel-button"
      (click)="emitCancelUpdate()"
      mat-stroked-button
      >Cancel</button
    >
  </div>
</form>
