<section
  class="l-body l-body--full-width mat-elevation-z0"
  *ngIf="paginator$ | async as paginator"
>
  <ng-container *ngIf="release$ | async as release">
    <ng-container *ngIf="releaseFiles$ | async as files">
      <header>
        <a mat-stroked-button [routerLink]="['..']" class="releases-list-link">
          <mat-icon>keyboard_arrow_left</mat-icon>
          View all Releases
        </a>
        <h1 class="mat-headline-4">
          Release files for {{ release.version }} ({{ paginator.count }})
        </h1>
      </header>
      <div>
        <table mat-table class="mat-elevation-z2" [dataSource]="releaseFiles$">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Filename</th>
            <td mat-cell *matCellDef="let file">
              <div class="name" (mouseover)="checkIfTooltipIsNecessary($event)">
                <span
                  [matTooltip]="file.name"
                  matTooltipPosition="above"
                  [matTooltipDisabled]="tooltipDisabled"
                >
                  {{ file.name }}
                </span>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="pagination">
            <td
              mat-footer-cell
              *matFooterCellDef
              [attr.colspan]="displayedColumns.length"
              class="footer"
            >
              <gt-list-footer [paginator]="paginator"> </gt-list-footer>
            </td>
          </ng-container>
          <tr
            mat-header-row
            class="overlay"
            *matHeaderRowDef="displayedColumns"
            [class.u-hidden]="files.length === 0"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
          ></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
              <div class="empty-states">
                <ng-container
                  *ngIf="
                    (initialLoadComplete$ | async) === true &&
                    (loading$ | async) === false
                  "
                >
                  <ng-container
                    *ngIf="(fileListErrors$ | async)?.length; else noResults"
                  >
                    <ng-container
                      *ngIf="
                        (fileListErrors$ | async)?.length === 1;
                        else multipleErrors
                      "
                      ><h3 class="mat-headline-4">
                        There was an error processing your request
                      </h3></ng-container
                    ><ng-template #multipleErrors
                      ><h3 class="mat-headline-4">
                        There were errors while processing your request
                      </h3></ng-template
                    >
                    <ul>
                      <li *ngFor="let error of fileListErrors$ | async">
                        {{ error }}
                      </li>
                    </ul>
                  </ng-container>
                  <ng-template #noResults
                    >There are no files associated with this
                    release.</ng-template
                  >
                </ng-container>
              </div>
            </td>
          </tr>
          <tr class="pagination-row" mat-footer-row *matFooterRowDef="['pagination']"></tr>
        </table>
      </div>
    </ng-container>
  </ng-container>
</section>
