mat-card {
  margin-top: 24px;
  margin-bottom: 24px;

  mat-card-content {
    padding-top: 16px;
  }
}

.email-paragraph {
  padding-top: 8px;
}

mat-form-field {
  width: 100%;
}

mat-radio-group {
  margin-top: 24px;
  margin-bottom: 24px;

  mat-radio-button {
    margin-right: 32px;
  }
}

form > div {
  margin-top: 40px;
  margin-bottom: 40px;
}

.server-error {
  text-align: center;
}
