<div *ngIf="(isLoggedIn$ | async) === false" class="logo-container">
  <img src="static/assets/images/glitchtip-logo-v1.svg" alt="GlitchTip" />
</div>

<mat-card
  [class.skinnier]="(isLoggedIn$ | async) === false"
  [class.not-skinny]="isLoggedIn$ | async"
>
  <mat-card-content *ngIf="acceptInfo$ | async as acceptInfo">
    <mat-card-title i18n>Organization Invite</mat-card-title>
    <p i18n
      >You have been invited to join<strong>
        {{ acceptInfo.org_user.organization.name }}
      </strong>
      so you can keep track of errors.</p
    >

    <p *ngIf="alreadyInOrg$ | async" i18n
      >The account you're logged into is already a part of this organization.
      You might want to
      <a (click)="logout()" href="javascript:void(0)">log out</a>, then create
      an account for or log into the account that this invite link was intended
      for.</p
    >

    <ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
      <button
        *ngIf="(alreadyInOrg$ | async) === false"
        mat-flat-button
        color="primary"
        (click)="onSubmit()"
        i18n
        >Accept invitation</button
      >
    </ng-container>

    <ng-template #notLoggedIn>
      <p i18n
        >To continue, you must either log in to your existing account, or create
        a new one.</p
      >

      <div class="button-container">
        <a
          mat-flat-button
          color="primary"
          [routerLink]="['/register']"
          [queryParams]="{ next: nextUrl$ | async }"
          i18n
          >Create new account</a
        >
        <a
          mat-stroked-button
          color="primary"
          [routerLink]="['/login']"
          [queryParams]="{ next: nextUrl$ | async }"
          i18n
          >Log in with existing account</a
        >
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
