.contents-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    width: 100%;
}

.instructions {
    margin-top: 16px;
    margin-bottom: 18px;
}

.error-center {
    align-self: center;
}

button {
    margin-bottom: 10px;
}
